@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.main-header {
  background: linear-gradient(135deg, #2E1155 0%, #8A2BE2 50%, #472399 100%);
  padding: 15px 0;
  border-radius: 25px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.container-nav {
  display: flex;
  justify-content: center; /* Centraliza os links */
  align-items: center;
  padding: 0;
}

.container-nav a {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 5px 15px;
  border-radius: 15px;
  transition: all 0.3s;
  margin: 0 10px; /* Espaçamento horizontal entre os links */
}

.container-nav a:not(.active):hover,
.container-nav a.active {
  background-color: rgba(255, 255, 255, 0.2);
}

.container-nav a.active {
  font-weight: 700;
}

@media (max-width: 768px) {
  .container-nav {
    flex-direction: column;
  }

  .container-nav a {
    margin: 5px 0;
  }
}
