<div>
  <div class="box box-solid">
    <div class="box-header with-border">
      <app-formulario-pedido></app-formulario-pedido>
    </div>
    <div class="box-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th class="header-cell">Quantidade</th>
            <th class="header-cell">Itens</th>
            <th class="header-cell">Descrição</th>
            <th class="header-cell">Subtotal</th>
            <th class="header-cell">        </th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of itensCarrinho() | async">
            <td>
              <button class="btn btn-primary" (click)="adicionarItemCarrinho(item)">+</button>
              <span>{{item?.quantidade}}</span>
              <button class="btn btn-secondary" (click)="retirarItemCarrinho(item)">-</button>
            </td>
            <td>{{item?.menuItem?.name}}</td>
            <td>{{item?.menuItem?.description}}</td>
            <td class="text-right" *ngIf="item">{{item.valor() | currency: 'BRL': true}}</td>
            <td>
              <button class="btn btn-danger" (click)="removerItemCarrinho(item)">Remover Tudo</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<div class="main-container">
  <div class="Container-concluir">
    <app-custos [entrega]="20" [totalCarrinho]="totalCarrinho()"></app-custos>
    <div class="form-group">
      <label for="pagamento">Forma de pagamento:</label>
      <select [(ngModel)]="pagamentoSelecionado">
        <option *ngFor="let opcao of opcoesPagamento" [value]="opcao">{{ opcao }}</option>
      </select>
  </div>
  <button class="btn btn-success" (click)="finalizarPedido()" [disabled]="!formularioPedidoComponent?.formularioPedido?.valid && !(temItensNoCarrinho$ | async) && !pagamentoSelecionado">
    <i class="lock-icon fas fa-lock" *ngIf="!formularioPedidoComponent?.formularioPedido?.valid || !pagamentoSelecionado"></i>
    <span>Concluir Pedido</span>
    <a *ngIf="formularioPedidoComponent?.formularioPedido?.valid" routerLink="/pedido-concluido"></a>
  </button>
  </div>
</div>
