.box {
  border-radius: 5px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 10px 30px 20px;
  width: 50%;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
}

.box-header {
  padding: 15px;
  border-bottom: 1px solid #b08bc9;
}

.user-block {
  display: flex;
  align-items: flex-start;
}

.user-block img {
  width: 100px;
  height: auto;
  border-radius: 50%;
  margin-right: 15px;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.username {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
}

.description {
  font-size: 0.875rem;
  color: #666;
  margin-top: 2px;
}

.box-body {
  padding: 15px;
}

.box-body p {
  margin: 0;
}

// Estilos para o botão
.botao-adicionar {
  max-width: 150px;
  background-color: #8A2BE2; /* Cor roxa padrão */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  position: relative;
  overflow: hidden;
}

// Estilos para o ícone de verificação
.icone-verificacao {
  color: #27ae60; /* Cor verde para indicar sucesso */
  position: absolute;
  top: 50%;
  right: -30px; /* Começa fora do botão */
  transform: translateY(-50%);
  transition: right 0.3s;
}

// Estilos para o botão após ser clicado
.botao-adicionar.clicado {
  background-color: #27ae60; /* Muda para cor verde */
}

.botao-adicionar.clicado .icone-verificacao {
  right: 10px; /* Move o ícone para dentro do botão */
}
