/* Estilo Modernizado para a Página de Comentários e Avaliações */
.review-box {
  margin: 20px; /* Afastamento uniforme para alinhar com a barra de navegação */
  border: none; /* Removendo a borda */
  border-radius: 10px; /* Bordas mais arredondadas */
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); /* Sombra mais suave para cada comentário */
  background-color: #fff; /* Fundo branco para destacar do fundo da página */
}

.review-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 2px solid #eee; /* Linha sutil para separar o cabeçalho do corpo */
}

.review-score {
  font-size: 18px;
  color: #FFD700; /* Cor dourada para as estrelas */
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); /* Sombra sutil para dar destaque */
  font-weight: bold; /* Texto em negrito para destacar a pontuação */
}

.user-block {
  display: flex;
  align-items: center;
}

.user-block img {
  width: 60px; /* Aumentando o tamanho da imagem */
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
  border: 3px solid #FFD700; /* Borda dourada para combinar com as estrelas */
}

.username {
  font-size: 18px; /* Aumentando o tamanho da fonte */
  font-weight: bold;
  color: #333; /* Cor mais escura para o nome do usuário */
}

.description {
  font-size: 14px;
  color: #666; /* Cor mais suave para a data */
  margin-bottom: 10px; /* Aumentando o espaçamento */
}

.review-body {
  font-size: 16px; /* Aumentando o tamanho da fonte para melhor leitura */
  line-height: 1.6; /* Aumentando o espaçamento entre linhas */
  color: #444; /* Cor mais escura para o texto */
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
  .review-box {
    margin: 10px; /* Reduzindo o espaçamento em dispositivos móveis */
  }
}
