<section class="content-header">
  <h1>Sobre</h1>
</section>

<section class="content">
  <div class="content-section">
    <p class="lead">
      QuickServe | Aplicação que demonstra as features do Angular
    </p>
  </div>

  <div class="content-section justify-align">
    <p class="lead">
      Na vanguarda da inovação, a QuickServe tem o prazer de anunciar sua mais recente revolução no mundo do delivery: o DroneDelivery! Imagine receber seus pedidos favoritos diretamente do céu, entregues com precisão e rapidez incomparáveis. Com nossa frota de drones de última geração, estamos levando a experiência de entrega a novas alturas.
    </p>
    <p class="lead">
      Nosso compromisso contínuo com a excelência em serviço nos levou a explorar novas tecnologias para atender às demandas em constante evolução de nossos clientes. Agora, com o DroneDelivery, podemos atingir áreas remotas com facilidade, proporcionando conveniência a todos os nossos clientes, onde quer que estejam.
    </p>
    <p class="lead">
      Desde o nosso início em 2000, temos sido líderes em entrega rápida e eficiente. Com o DroneDelivery, estamos elevando ainda mais esse padrão, garantindo que suas refeições cheguem até você de forma rápida, segura e emocionante. Experimente o futuro da entrega com a QuickServe - voando alto para satisfazer suas necessidades de entrega!
    </p>  
    <div class="content-section">
      <p class="lead">
        QuickServe é uma empresa fictícia de delivery que teve seu início em 2000. Somos reconhecidos por nossa dedicação em fornecer serviços de entrega rápida e eficiente.
      </p>
      <p class="lead">
        Todo o código fonte e documentação relacionada ao nosso software estão disponíveis em meu repositório no GitHub.
      </p>
      <p class="lead" align="center">Copyright 2024<p align="center"> (<a href="https://github.com/Wanjos-eng/QuickServe-Web-Delivery/tree/main/QuikServe">https://github.com/Wanjos-eng/QuickServe-Web-Delivery/tree/main/QuikServe</a>)</p>
    
    </div>
  </div>

  <div class="content-section">
    <p class="lead">
      Imagens usadas na aplicação por <a href="http://www.freepik.com" target="_blank" rel="noopener">freepik.com</a>
    </p>
  </div>
</section>
