@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.content {
  font-family: 'Roboto';
  padding: 0px; /* Espaçamento interno */
  margin: 0 auto; /* Centraliza o conteúdo na página */
  max-width: 800px; /* Largura máxima */
}
.content-header {
  font-size: 1.75em;
  margin: 20px;
  text-align: center; /* Centraliza o cabeçalho */
}

/* Estilos para o texto dentro das seções */
.content p {
  margin-bottom: 20px; /* Espaçamento inferior */
  font-size: 18px; /* Tamanho da fonte */
}

.justify-align {
  text-align: justify; /* Justifica o texto */
}
