/* Estilo Ajustado do Componente de Restaurante */
.box {
  border-radius: 10px; /* Bordas mais arredondadas */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15); /* Sombra mais suave e espalhada */
  margin: 20px; /* Afastamento do container com margem ao redor */
  overflow: hidden; /* Esconde a borda inferior quando o conteúdo excede */
}

.box-header {
  padding: 20px;
  border-bottom: 1px solid #b08bc9; /* Mantendo apenas a linha no cabeçalho */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-title {
  margin: 0;
  font-size: 1.5rem; /* Tamanho maior para o título */
  font-weight: 700; /* Peso da fonte mais forte */
  color: #333; /* Cor do texto */
}

.box-body {
  padding: 20px;
  background: #f9f9f9; /* Cor de fundo mais clara para o corpo */
  display: flex;
  flex-wrap: wrap; /* Permite que os itens se ajustem em telas menores */
}

.restaurante-img {
  flex: 0 0 150px; /* Tamanho fixo da imagem com flexibilidade zero */
  margin-right: 15px;
  border-radius: 5px; /* Bordas arredondadas para a imagem */
  overflow: hidden; /* Esconde as partes excedentes da imagem */
}

.restaurante-img img {
  width: 100%;
  height: auto; /* Ajuste da altura proporcionalmente à largura */
  object-fit: cover; /* Garante que a imagem cubra todo o espaço disponível */
}

dl {
  margin: 0;
  padding: 0;
  list-style: none;
  flex: 1; /* Permite que a lista ocupe o espaço restante */
}

dt {
  font-weight: 700; /* Peso da fonte mais forte */
  color: #333; /* Cor do texto */
}

dd {
  margin-bottom: 10px; /* Espaçamento maior entre os itens */
}

.detail-footer {
  padding: 15px 0;
  display: flex;
  justify-content: center;
}

.detail-footer a {
  text-decoration: none;
  padding: 10px 15px;
  border: 2px solid #555; /* Bordas para destacar os botões */
  border-radius: 25px; /* Bordas mais arredondadas */
  color: #555; /* Cor do texto */
  transition: background-color 0.3s ease;
  margin: 0 5px; /* Espaçamento entre os botões */
}

.detail-footer a:hover,
.detail-footer a.detail-active {
  background-color: #8A2BE2; /* Cor de fundo ao passar o mouse e quando ativo */
  color: white; /* Texto branco para contraste */
}

.pull-right {
  font-size: 1rem; /* Tamanho padrão para a classificação */
  color: #ffc107; /* Cor dourada para as estrelas */
  margin-right: 5px;
}
