@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px; /* Aumentando o espaçamento entre os elementos do formulário */
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  max-width: 800px;
  margin: auto; /* Centraliza o formulário */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.form-group label {
  font-size: 1rem;
  color: #333;
  margin-bottom: 0.5rem;
}

.form-group input {
  padding: 0.75rem;
  font-size: 1rem;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out;
}

.form-group input:focus {
  border-color: #80bdff;
  outline: 0;
}

.form-group input.input-valid {
  border-color: #28a745;
}

.invalid-feedback {
  display: block;
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

/* Ajuste para o campo de número */
.number-group {
  flex: 0 0 auto;
  width: 100px; /* Tamanho fixo para o campo de número */
}

/* Ajuste para o campo de endereço */
.address-group {
  flex: 1 1 auto;
  margin-right: 10px; /* Espaçamento entre o campo de endereço e o de número */
}

/* Ajuste para o campo de complemento */
.complement-group {
  flex: 2 1 auto;
}

/* Ajuste para telas menores */
@media (max-width: 767px) {
  .form-group {
    width: 100%; /* Alterado para ocupar toda a largura em telas menores */
  }
}
