.item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1rem;
}

.item-box .item-description {
  flex-grow: 1;
  margin-left: 1rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombramento */
}
